/* /////////////////////////////// */
.carousel {
  overflow: hidden;
  max-width: 600px;
  position: relative;
}
.carousel .carousel-item,
.carousel .carousel-item-hidden {
  display: none;
}
.carousel .carousel-item img {
  width: 100%;
  max-width: 600px;
  height: auto;
}
.carousel .carousel-item-visible {
  display: block;
  animation: fadeVisibility 0.5s;
}
.carousel .carousel-actions {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  transform: translateY(50%);
  width: 100%;
}
.carousel .carousel-actions button {
  border-radius: 50px;
  border: 0;
  font-weight: bold;
  cursor: pointer;
}
.carousel .carousel-actions button#carousel-button-prev {
}
.carousel .carousel-actions button#carousel-button-next {
}

@keyframes fadeVisibility {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: opacity linear;
  }
}
