.carousel {
  overflow: hidden;
  max-width: 600px;
  position: relative;
}
/* carousel images */
.carousel .carousel-item,
.carousel .carousel-item-hidden {
  display: none;
}
.carousel .carousel-item img {
  width: 100%;
  max-width: 600px;
  height: 185px;
  object-fit: contain;
}
.carousel .carousel-item-visible {
  display: block;
  animation: fadeVisibility 0.5s;
}
/* Left and right button */
.carousel .carousel-actions {
  display: flex;
  justify-content: space-between;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  position: absolute;
}
.carousel .carousel-actions button {
  border-radius: 50px;
  border: 0;
  font-weight: bold;
  cursor: pointer;
  background-color: #c3c3c3;
  outline: 0;
}
.carousel .carousel-actions button img {
  height: 10px;
}

@keyframes fadeVisibility {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: opacity linear;
  }
}
