/* Common */
.cart-section .item-container .item-info h1,
.cart-section .item-container .item-info h2 {
  margin: 5px 0 5px 0;
}
.cart-section .item-container .item-info .options .option,
.cart-section
  .item-container
  .item-info
  .options
  .option.swatch.active
  .selected-overlay,
.cart-section .item-container .item-gallery .change-quantity .quantity-sign {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-section .item-container .item-info,
.cart-section .item-container .item-info .options .option,
.cart-section .item-container .item-gallery,
.cart-section .item-container .item-gallery .change-quantity,
.cart-section .item-container .item-gallery .img-slider {
  float: left;
  box-sizing: border-box;
}

/* cart header */
.cart-section .cart-header {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 35px;
  margin: 65px 0;
}
/*Items container */
.cart-section .item-container {
  border-top: 1px solid #e5e5e5;
  padding-top: 20px;
  margin-bottom: -20px;
  position: relative;
  min-height: 215px;
}
/* item info */
.cart-section .item-container .item-info {
  width: 70%;
}

.cart-section .item-container .item-info p {
  font-size: 20px;
  font-weight: 900;
}
.cart-section .item-container .item-info h2 {
  font-weight: 300;
}
/* attributes */
.cart-section .item-container .item-info .attr-container {
  margin-top: 40px;
}
.cart-section .item-container .item-info .options {
  padding: unset;
  overflow: auto;
  margin: 5px 0 35px 0;
}
.cart-section .item-container .item-info .options .option {
  box-sizing: border-box;
  min-width: 63px;
  height: 45px;
  color: rgb(166, 166, 166);
  line-height: 45px;
  border: 1px solid #a6a6a6;
  margin-right: 12px;
  margin-bottom: 12px;
  cursor: pointer;
  padding: 0 10px;
}

.cart-section .item-container .item-info .options .option.swatch {
  border-radius: 10%;
  height: 63px;
  padding: 20px;
}

.cart-section .item-container .item-info .options .option.swatch.active {
  padding: 0;
  border: 2px solid black;
  transition: none;
}
.cart-section
  .item-container
  .item-info
  .options
  .option.swatch.active
  .selected-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 29px;
}
.cart-section .item-container .item-info .options .option.active {
  background-color: var(--clr-font);
  box-sizing: border-box;
  color: var(--clr-bcg);
  transition: 0.2s ease;
}

/* gallery */
.cart-section .item-container .item-gallery {
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
  width: 30%;
  overflow: hidden;
}
/* gallery buttons and quantity*/
.cart-section .item-container .item-gallery .change-quantity {
  width: 20%;
  height: 185px;
  font-size: 40px;
  margin-right: 5px;
}
.cart-section .item-container .item-gallery .change-quantity .quantity-sign {
  width: 45px;
  height: 45px;
  border: 1px solid var(--clr-font);
  padding: 0;
  margin: auto;
  font-weight: 100;
  cursor: pointer;
  font-size: 25px;
  background-color: var(--clr-bcg);
  outline: 0;
}
.cart-section .item-container .item-gallery .change-quantity .quantity {
  text-align: center;
  margin: 32px 0;
  font-size: 25px;
}
/* carousel */
.cart-section .item-container .item-gallery .img-slider {
  height: 185px;
  width: 141px;
}
.cart-section .item-container .item-gallery .img-slider .slide {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* Responsiveness */
@media (max-width: 900px) {
  .cart-section .item-container {
    font-size: 13px;
  }
  .cart-section .item-container .item-info p {
    font-size: 17px;
  }
  .cart-section .item-container .item-info .attr-container {
    margin-top: 30px;
  }
  .cart-section .item-container .item-info .options .option {
    min-width: 45px;
    height: 40px;
  }
  .cart-section .item-container .item-gallery {
    width: 40%;
    right: 0;
  }
  .cart-section .item-container .item-gallery .change-quantity .quantity-sign {
    width: 35px;
    height: 35px;
    font-size: 20px;
  }
  .cart-section .item-container .item-gallery .change-quantity .quantity {
    margin: 44px 0;
    font-size: 20px;
  }
}
@media (max-width: 600px) {
  .cart-section .cart-header {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .cart-section .item-container .item-info {
    width: 50%;
  }
  .cart-section .item-container .item-info h1,
  .cart-section .item-container .item-info h2,
  .cart-section .item-container .item-info p,
  .cart-section .item-container .item-info .attr-container h3 {
    font-size: 13px;
  }
  .cart-section .item-container .item-info p {
  }
  .cart-section .item-container .item-info .options .option {
    min-width: 20px;
    height: 20px;
    font-size: 5px;
    margin-bottom: 15px;
  }
  .cart-section .item-container .item-gallery {
    width: 50%;
  }
  .cart-section .item-container .item-gallery .change-quantity {
    height: 75px;
  }
  .cart-section .item-container .item-gallery .change-quantity .quantity-sign {
    width: 15px;
    height: 15px;
    font-size: 10px;
    border: 0.3px solid rgb(82, 78, 78);
  }
  .cart-section .item-container .item-gallery .change-quantity .quantity {
    margin: 13px 0;
    font-size: 15px;
  }
  .cart-section .item-container .item-gallery .img-slider {
    height: 75px;
    width: 100px;
  }
}
