/* common */
.minicart-container .product-info,
.minicart-container .product .product-info > ul.attributes > li,
.minicart-container .product .product-info > ul.attributes > li.active,
.minicart-container .product .product-rightside .change-quantity,
.minicart-container .product .product-rightside .product-image {
  box-sizing: border-box;
}
.minicart-container .product .product-info > ul.attributes > li,
.minicart-container .product .product-rightside .change-quantity .quantity-sign,
.minicart-container .total-price,
.minicart-container .bottom-buttons,
.minicart-container .bottom-buttons .view-bag,
.minicart-container .bottom-buttons .check-out {
  display: flex;
}
.minicart-container .product-info,
.minicart-container .product .product-info > ul.attributes > li,
.minicart-container .product .product-rightside,
.minicart-container .product .product-rightside .change-quantity,
.minicart-container .product .product-rightside .product-image {
  float: left;
}
.minicart-container .product-info,
.minicart-container .product .product-rightside,
.minicart-container .product .product-rightside .change-quantity,
.minicart-container .product .product-rightside .product-image,
.minicart-container .product .product-rightside .product-image img,
.minicart-container .bottom-buttons .view-bag button {
  height: 100%;
}
.minicart-container .bottom-buttons .view-bag,
.minicart-container .bottom-buttons .check-out,
.minicart-container .bottom-buttons .view-bag button {
  border: none;
  outline: none;
}
.minicart-container .product .product-rightside .change-quantity .quantity,
.minicart-container .total-price,
.minicart-container .bottom-buttons .view-bag,
.minicart-container .bottom-buttons .check-out,
.minicart-container .bottom-buttons .view-bag button {
  font-weight: bold;
}
/* MiniCart container */
.minicart-container * {
  font-size: 16px;
  margin: 0;
  margin-top: 10px;
}
.minicart-container {
  margin-top: 20px;
  width: 325px;
  padding: 15px;
  background-color: white;
  text-transform: none;
  position: absolute;
  top: 39px;
  right: -15px;
  z-index: 4;
  max-height: 750px;
  overflow-y: auto;
}
.minicart-container h1 {
  margin-top: 0;
}
.minicart-container h1 span {
  font-weight: normal;
}
.minicart-container .product {
  min-height: 136px;
  overflow: auto;
  position: relative;
  margin-top: 40px;
}
.minicart-container .product-info {
  width: 50%;

  margin: 0;
}
.minicart-container .product .product-info > h3 {
  font-weight: normal;
  margin-top: 5px;
  margin-bottom: 5px;
}
.minicart-container .product .product-info > p {
  margin-top: 5px;
  margin-bottom: 20px;
}
.minicart-container .product .product-info > strong {
  display: block;
  margin-bottom: 15px;
}
.minicart-container .product .product-info > ul.attributes {
  padding: unset;
  overflow: hidden;
  margin-bottom: 0;
}
.minicart-container .product .product-info > ul.attributes > li {
  font-size: 14px;
  min-width: 24px;
  height: 24px;
  color: #1d1f22;
  line-height: 45px;
  align-items: center;
  border: 1px solid #1d1f22;
  margin-right: 8px;
  margin-bottom: 0px;
  cursor: pointer;
  padding: 5px;
}
.minicart-container .product .product-info > ul.attributes > li.active {
  background-color: rgba(166, 166, 166, 0.2);
  color: #a6a6a6;
  border: 1px solid #a6a6a6;
}
.minicart-container .product .product-rightside {
  width: 50%;
  margin: 0;
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden;
}
.minicart-container .product .product-rightside .change-quantity {
  width: 20%;
  font-size: 40px;
  margin: 0;
}
.minicart-container
  .product
  .product-rightside
  .change-quantity
  .quantity-sign {
  border: 1px solid black;
  width: 24px;
  height: 24px;
  margin: auto;
  font-size: 20px;
  padding: 0;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #fff;
}
.minicart-container .product .product-rightside .change-quantity .quantity {
  margin: 34px 0;
  text-align: center;
}
.minicart-container .product .product-rightside .product-image {
  width: 80%;
  margin: 0;
}
.minicart-container .product .product-rightside .product-image img {
  width: 100%;
  margin: 0;
  object-fit: cover;
}
.minicart-container .total-price {
  justify-content: space-between;
  margin: 40px 0;
}
.minicart-container .bottom-buttons {
  justify-content: space-between;
}
.minicart-container .bottom-buttons .view-bag,
.minicart-container .bottom-buttons .check-out {
  font-family: Raleway, sans-serif;
  height: 43px;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;

  font-size: 14px;
  width: 48%;
  cursor: pointer;
}

.minicart-container .bottom-buttons .view-bag {
  border: 1px solid #1d1f22;
  background-color: #fff;
}
.minicart-container .bottom-buttons .view-bag button {
  text-transform: uppercase;
  font-family: Raleway, sans-serif;
  width: 100%;

  margin: 0;
  cursor: pointer;
  background: #fff;
}

.minicart-container .bottom-buttons .view-bag button:hover {
  background-color: rgb(240, 240, 240);
}

.minicart-container .bottom-buttons .check-out {
  background-color: #5ece7b;
  color: #fff;
}
.minicart-container .bottom-buttons .check-out:hover {
  background-color: #23c34d;
}
