.nav-container {
  height: 80px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 600;
  color: #1d1f22;
  text-transform: uppercase;
}
.nav-container .categories,
.nav-container .logo,
.nav-container .actions {
}

/* Categories */
.nav-container .categories {
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav-container .categories li {
  display: inline-block;
  padding: 30px 15px;
  cursor: pointer;
}
.nav-container .categories li:hover {
  border-bottom: 3px solid #5ece7b;
  color: #5ece7b;
}
/* Logo */
.nav-container .logo img {
  padding: 15px 0;
}
/* Actions */
.nav-container .actions {
  margin-left: 40px;
}
.nav-container .actions img {
  padding: 15px 10px;
}
.nav-container .actions .currency {
  cursor: pointer;
}
.nav-container .actions .cart {
  cursor: pointer;
  padding-bottom: 20px;
  padding-right: 0px;
}
