/* Common */
.nav-container .actions .currency-container .arrow-down,
.nav-container .actions .currency-container .currency-logo,
.nav-container .cart-icon,
.nav-container .actions .currency-container .currencies li {
  cursor: pointer;
}
.nav-container .categories div:hover,
.nav-container .categories div.active {
  border-bottom: 2px solid var(--clr-primary);
  color: var(--clr-primary);
}
.nav-container .minicart-overlay,
.nav-container .currency-container .currencies,
.nav-container .actions .cart-icon .num-of-products {
  position: absolute;
}
.nav-container .actions,
.nav-container .actions .currency-container,
.nav-container .actions .cart-icon {
  position: relative;
}
.nav-container .categories div,
.nav-container .actions .currency-container,
.nav-container .actions .cart-icon {
  display: inline-block;
}
/* Navbar container */
.nav-container {
  height: 80px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 600;
  color: var(--clr-font);
  text-transform: uppercase;
}

/* Categories */
.nav-container .categories {
  padding: 0;
  margin: 0;
}
.nav-container .categories div {
  padding: 30px 15px;
  margin-right: 10px;
  cursor: pointer;
}

/* Logo */
.nav-container .logo img {
  padding: 15px 0;
  margin-top: 5px;
}
/* Actions */

.nav-container .actions {
  margin: 25px 0 0 60px;
  line-height: 1;
}
/* Light Mode icon */
.nav-container .actions .dark-mode-icon {
  display: inline-block;
  font-size: 25px;
  width: 35px;
  cursor: pointer;
}
.nav-container .actions .dark-mode-icon:hover {
  color: var(--clr-primary);
}
/* Currencies dropdown */
.nav-container .actions .currency-container {
  margin-right: 20px;
}
.nav-container .actions .currency-container .currency-logo {
  font-size: 22px;
  padding-right: 10px;
}
.nav-container .actions .currency-container .currency-logo:hover {
  color: var(--clr-primary);
}
.nav-container .actions .currency-container .arrow-down {
  display: inline-block;
  transform: rotate(90deg);
}

.nav-container .currency-container .currencies {
  padding: 0;
  box-shadow: 0px 0px 32px 2px var(--clr-box-shadow);
  padding: 0 40px 0 20px;
  top: 25px;
  left: -15px;
  width: 62px;
  z-index: 2;
  background-color: var(--clr-bcg);
  opacity: 0;
  height: 0;
  overflow: hidden;
}
.nav-container .actions .currency-container .currencies.show {
  height: auto;
  opacity: 1;
  transition: 0.3s ease;
}
.nav-container .actions .currency-container .currencies li {
  margin: 20px 0;
}
.nav-container .actions .currency-container .currencies li:hover {
  color: var(--clr-primary);
}
/* MiniCart dropdown and overlay */

.nav-container .actions .cart-icon .num-of-products {
  background-color: var(--clr-font);
  color: var(--clr-bcg);
  width: 20px;
  height: 20px;
  border-radius: 60px;
  font-size: 14px;
  padding: 1px;
  text-align: center;
  line-height: 18px;
  top: -11px;
  right: -14px;
}

.nav-container .minicart-overlay {
  position: fixed;
  background-color: var(--clr-minicart-overlay);
  top: 88px;
  left: 0;
  right: 0;
  z-index: 3;
  display: none;
  height: 90vh;
}
.nav-container .minicart-overlay.show-overlay {
  display: block;
}

/* Responsiveness */
@media (max-width: 900px) {
  .nav-container {
    font-size: 13px;
  }
  .nav-container .categories div {
    padding-bottom: 34px;
    padding-left: 6px;
    padding-right: 6px;
  }
  .nav-container .logo img {
    margin-top: 5px;
  }
  .nav-container .actions {
    margin-top: 25px;
  }
  .nav-container .actions .currency-container .currency-logo {
    font-size: 19px;
  }
  .nav-container .actions .cart-icon img {
    width: 19px;
  }
  .nav-container .actions .cart-icon .num-of-products {
    font-size: 12px;
    width: 18px;
    height: 18px;
  }
}
@media (max-width: 600px) {
  .nav-container {
    font-size: 12px;
    height: 63px;
  }

  .nav-container .categories div {
    padding-bottom: 20px;
  }
  .nav-container .logo img {
    width: 35px;
  }
  .nav-container .actions {
    margin: 25px 0 0 30px;
    line-height: 1;
  }
  .nav-container .currency-container .currencies {
    left: -50px;
    padding-right: 5px;
  }
  .nav-container .actions .cart-icon img {
    width: 19px;
  }

  .nav-container .minicart-overlay {
    top: 74px;
  }
}
@media (max-width: 400px) {
  .nav-container {
    font-size: 10px;
  }
}
